// Klasy pozycji dla span CIRCLE i ARROW

// Wagon 1
//Rząd a
$i: 1;
$k: 127px;
 @while $i <= 16 {
          .pos1kl#{$i} {
         right: $k;     
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }   

//Rząd b
$i: 1;
$k: 157px;
 @while $i <= 14 {
          .pos1kl#{$i}b {
         right: $k;   
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }

//Rząd c
$i: 1;
$k: 157px;
 @while $i <= 15 {
          .pos1kl#{$i}c {
         right: $k;
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }

// Wagon 2 i 4
//Rząd a i b
$i: 1;
$k: 163px;
 @while $i <= 19 {
          .pos2kl#{$i} {
         right: $k;     
      } 
   .pos2kl#{$i}b {
         right: $k;   
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }   

//Rząd c i d
$i: 1;
$k: 195px;
 @while $i <= 19 {
          .pos2kl#{$i}c {
         right: $k;
      } 
    .pos2kl#{$i}d {
         right: $k;
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }

// Wagon resturacyjny (nr 3)
//Rząd a i b
$i: 1;
$k: 240px;
 @while $i <= 6 {
          .posrest#{$i} {
        left: $k;     
      } 
   .posrest#{$i}b {
         left: $k;   
      } 
  $i: $i + 1;
  $k: $k + 31; 
  }   

//Rząd c i d
$i: 1;
$k: 182px;
 @while $i <= 6 {
          .posrest#{$i}c {
         left: $k;
      } 
    .posrest#{$i}d {
         left: $k;
      } 
  $i: $i + 1;
  $k: $k + 31; 
  }

// Wagon 5,6
//Rząd a i b
$i: 1;
$k: 163px;
 @while $i <= 19 {
          .posleft#{$i} {
         left: $k;     
      } 
   .posleft#{$i}b {
         left: $k;   
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }   

//Rząd c i d
$i: 1;
$k: 195px;
 @while $i <= 19 {
          .posleft#{$i}c {
         left: $k;
      } 
    .posleft#{$i}d {
         left: $k;
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }

// Wagon 7
//Rząd a i b
$i: 1;
$k: 157px;
 @while $i <= 19 {
          .pos7cab#{$i} {
         left: $k;     
      } 
   .pos7cab#{$i}b {
         left: $k;   
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }   

//Rząd c i d
$i: 1;
$k: 128px;
 @while $i <= 19 {
          .pos7cab#{$i}c {
         left: $k;
      } 
    .pos7cab#{$i}d {
         left: $k;
      } 
  $i: $i + 1;
  $k: $k + 30; 
  }


@mixin linkshadow($colour) {
 
  -webkit-box-shadow: 3px 3px 20px 0 $colour;
  -moz-box-shadow: 3px 3px 20px 0 $colour;
  box-shadow: 3px 3px 20px 0 $colour;
}

