$main-background:#2A3A5C; // kolor  tła głównego
$circle-color: red; // kolor ramki nagłówka
$list-color: #FAB72B; //kolor listy hover
$text-color: #E7E7E9; //kolor tekstu
$list-background: gray;
$padding-section: 10px 0 15px 0;
$main-width: 900px;
$line-height: 20px;
$font-size: 12px;