/* Plik stworzony przez Kobra8 */

body {
  background-color: $main-background;
  line-height: $line-height;
  font-family: 'Raleway', sans-serif;
  font-size: $font-size;
    .main-width {
        margin: 0 auto;
        width: $main-width;
        color: $text-color;
                }
    ul.menu {
        list-style-type: none;
          li{
          color: $text-color;
          background-color: $list-background;
          padding: 10px;
          display: inline-block;
            }
          li:hover {
          color: $list-color;
          padding-left: 10px;
          display: inline-block;
            }
          }
  section {
    padding: $padding-section;
    .cabin{
        background-image: url("../img/selectcab.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 414px;
        position: relative;
          }
    .circle {
      border: 4px solid $circle-color;
      background-color: transparent;
      width: 30px;
      height: 25px;
          //@include borderRadius(50%);
          position: absolute;
          top: 54px;
          display: none;
          }
    .arrow {
      color: white;
      position: absolute;
      top: 0;
      display: none;
      }
    
//    Pozycje wertykalne miejsc wagonu klasy 1
    
    .pos1b {
      top: 74px;
    }
    .pos1c {
      top: 114px;
    }
    
    //    Pozycje wertykalne miejsc wagonu klasy 2
    .pos2a {
      top: 50px;
    }
    .pos2b {
      top: 65px;
    }
    .pos2c {
      top: 96px;
    }
    .pos2d {
      top: 115px;
    }
    
    //Pozycje dodatkowe wagonu 4
    
    .pos4c {
      top: 102px;
    }
    .pos4d {
      top: 117px;
    }
    
    //    Pozycje wertykalne miejsc wagonu nr 3 i
    .pos3a {
      top: 54px;
    }
    .pos3b {
      top: 70px;
    }
    .pos3c {
      top: 99px;
    }
    .pos3d {
      top: 115px;
    }
    #seatopt {
      display: none;
    }
    select[class^="cab"] {
      display: none;
    }
 
    
    
  } //Koniec SECTION
  
  
  
  
  
  
  
  
  footer {
    .main-width {
          ul.menu {
            list-style-type: none;
                  li{
                display: block;
                float: left;
              &:hover {
                background-color: blueviolet;
                      }
      
                    }
                  }
                }
        }
    } // Koniec BODY