/* Plik stworzony przez Kobra8 */



body {
  background-color: $main-background;
  line-height: $line-height;
  font-family: 'Raleway', sans-serif;
  font-size: $font-size;
  
    .main-width {
        margin: 0 auto;
        width: 800px;
        color: $text-color;
     }
   @media (max-width: 600px) {
  .main-width {
    width: 100%;
   
  }
}
  header {
    margin-top: 1%;
    
  }
  .container {
    float: left;
    width: 100%;
  }
  #info {
    display: none;
    padding-left: 44px;
  }
//    
  section {
  
    .cabin{
        background-color: $main-background;
        background-repeat: no-repeat;
        background-position: center;
        height: 414px;
        position: relative;
      float: left;
      width: 100%;
      .selectcab {
        width: 80%;
        margin: 0 auto;
        h1 {
          padding-top: 5px;
          font-size: 3em;
          margin: 0 auto;
        }
        a {
                text-decoration: none;
                color: white;
              &:hover {
                color: white;
               @include linkshadow(white);
                      }
      
                    }
        .title {
            line-height: 2;
          text-align: center;
          padding-top: 20px;
          }
        .selarrow {
          
        }
      }
          }
    .circle {
      border: 4px solid $circle-color;
      background-color: transparent;
      width: 30px;
      height: 25px;
          //@include borderRadius(50%);
          position: absolute;
          top: 54px;
          display: none;
          }
    .arrowdown {
      color: white;
      position: absolute;
      top: 0;
      display: none;
      }
    .arrowup {
      color: white;
      position: absolute;
      top: 145px;
      display: none;
      }
    
    form {
      float: left;
      select {
        margin: 4px 4px 4px 4px;
        padding: 2px 2px 2px 2px;
      }
      select[class^="cab"] {
        width: 60px;
      }
    }
    
    //Div pokazujący nr wagonu i miejsca
    .result {
      width: 300px;
      height: 200px;
      margin-bottom: 20px;
      float: right;
      float: right;
      display: none;
      h1 {
        text-align: center;
      }
      
      .cabname {
        width: 50%;
        height: 100px;
        padding-top: 40px;
        float: left;
      }
      .seatname {
        width: 50%;
        height: 100px;
        padding-top: 40px;
        float: left;
      }
      .cabnumber {
        width: 40%;
        height: 40%;
        padding-top: 8%;
        float: right;
        border: 4px solid white;
        margin: 4%;
      }
      .seatnumber {
        width: 40%;
        height: 40%;
        padding-top: 8%;
        float: right;
        border: 4px solid white;
        margin: 4%;
      }
      #cabn, #seatn {
        font-size: 3em;
        display: none;
      }
    }
    //DIV pokazujący kierunek jazdy
    
    .divdir {
      margin-top: 5px;
      padding-top: 14px;
      margin-left: 200px;
      padding-left: 100px;
      margin-bottom: 10px;
      position: relative;
      display: none;
    }
    
    .arrspanleft {
      position: absolute;
      top: 0;
      left: 12px;
      display: none;
    }
    .arrspanright {
      position: absolute;
      top: 0;
      left: 260px;
      display: none;
    }
    
//    Pozycje wertykalne miejsc wagonu klasy 1
    
    .pos1b {
      top: 74px;
    }
    .pos1c {
      top: 114px;
    }
    
    //    Pozycje wertykalne miejsc wagonu klasy 2
    .pos2a {
      top: 50px;
    }
    .pos2b {
      top: 65px;
    }
    .pos2c {
      top: 95px;
    }
    .pos2d {
      top: 113px;
    }
    
    //Pozycje dodatkowe wagonu 4
    
    .pos4c {
      top: 102px;
    }
    .pos4d {
      top: 117px;
    }
    
    //    Pozycje wertykalne miejsc używane przez wagony nr 3,4 5, 6 i 7
    .pos3a {
      top: 54px;
    }
    .pos3b {
      top: 70px;
    }
    .pos3c {
      top: 99px;
    }
    .pos3d {
      top: 115px;
    }
    .pos7a {
      top: 56px;
    }
     .pos7c {
      top: 104px;
    }
    .pos7d {
      top: 120px;
    }
    #seatopt {
      display: none;
    }
    select[class^="cab"] {
      display: none;
    }
 
    
    
  } //Koniec SECTION
  
  
  
  
  
  
  
  
  footer {
    .cookies {
      padding-top: 5px;
      padding-bottom: 5px;
     margin-bottom: 3px;
    }
    .cookiesmore {
      width: 75%;
      text-align: justify;
      display: none;
    }
    .main-width {
      padding-left: 19%;
      padding-top: 20px;
      padding-bottom: 10px;
                  a {
                text-decoration: none;
                color: white;
              &:hover {
                color: white;
               @include linkshadow(white);
                      }
      
                    }
                
                }
        }
    } // Koniec BODY